


<!doctype html>
<html lang="en">
{{>nav}}

<head>
    <style>
        h1 {
            text-align: center;
        }

    </style>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/index.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Home</title>
</head>

<body>

    {{#if email}}
 
    <h1 style=" 
    margin-top: -137px;
    color: white;">Welcome :{{fullname}} To our System</h1>
    <div class="card container" style="width: 25rem;">
        <img src="uploads/{{img}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title"><span>Name:</span>{{fullname}}</h5>
            <p class="card-text"><span class="card-title"><b>Email:</b></span>&nbsp;  &nbsp;  {{email}}
           <p class="card-text"><span class="card-title"><b>Phone:</b></span>&nbsp; &nbsp;{{phone}}
            <p class="card-text"><span class="card-title"><b>Gender:</b></span>&nbsp;  {{gender}}
            <p class="card-text"><span class="card-title"><b>Address:</b></span>&nbsp;&nbsp;  {{address1}}
            <p class="card-text"><span class="card-title"><b>City:</b></span>&nbsp; &nbsp;{{city}}
                <p class="card-text"><span class="card-title"><b>pincode:</b></span>&nbsp; &nbsp; {{pcode}}
            </p>
            <a href="/logout" class="btn btn-primary">Logout</a>
            <a href="/products" class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" class="bi bi-basket-fill"
                viewBox="0 0 16 16">
                <path
                    d="M5.071 1.243a.5.5 0 0 1 .858.514L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H15v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9H.5a.5.5 0 0 1-.5-.5v-2A.5.5 0 0 1 .5 6h1.717L5.07 1.243zM3.5 10.5a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3z" />
        
</svg> &nbsp; Order pizza</a>
        </div>
    </div>
    {{else}}
    <a href="/logout">Logout HERE</a>
    {{/if}}


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
</body>

</html>
